*{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #719fc9;
}

button {
    display: inline-block;
    padding: 15px;
    margin: 20px;
    border-radius: 5px;
    background-color: rgb(238, 242, 255);
}

#startBtn {
    padding-right: 50px;
    padding-left: 50px;
    font-size: 50px;
    border-radius: 10px;
    background-color:#171701;
    color:#f0f0e1;
}

.showtimer {
    color: #dede28;
    font-weight: bold;
    padding: 20px;
}

