*{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #0a7fec;
}

button {
    display: inline-block;
    padding: 15px;
    margin: 20px;
    border-radius: 5px;
    background-color: rgb(238, 242, 255);
}

#startBtn {
    padding-right: 50px;
    padding-left: 50px;
    font-size: 50px;
    border-radius: 10px;
    background-color:#171701;
    color:#f0f0e1;
}

.showtimer {
    color: #dede28;
    font-weight: bold;
    padding: 20px;
}


#scoreboard {
    background-color: #f1e208;
    border-radius: 5px;
    /* padding: 10px; */
    /* margin: 0px 100px; */
    border-style: inset;

}

#scoreContainer {
    color: rgb(19, 218, 109);
    font-weight: bolder;
}

img {
    width: 100%;
    margin: 0;
}

li {
    padding: 10px;
}